@media screen and (max-width: 800px), screen and (max-height: 800px), screen and (max-aspect-ratio: 4/3) {
    .hidden-mobile {
        visibility: hidden;
        display: none;
    }
}

.heart {
    font-size: 150px;
    color: #e00;
    animation: beat .5s infinite alternate;
    transform-origin: center;
}

/* Heart beat animation */
@keyframes beat{
    to { transform: scale(1.4); }
}
